---
import '@fontsource-variable/inter';
import Header from '@components/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head>
  <body>
    <div class='container'>
      <Header />
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind utilities;

  @layer base {
    body {
      @apply bg-black-900 font-sans text-white;
    }

    .container {
      @apply mx-auto max-w-screen-xl;
    }
  }

  @layer utilities {
    .mask {
      mask-image: url('/masks/bars.svg');
      mask-mode: alpha;
      mask-repeat: no-repeat;
    }
  }
</style>
