---
import Pencil from '@icons/Pencil.astro';
import Calendar from '@icons/Calendar.astro';
---

<header class='py-12 w-full'>
  <nav class='w-full h-28 flex rounded-3xl border border-black-700'>
    <section class='w-48 grid place-content-center'>
      <a href='/'>
        <img src='/favicon.svg' alt='Composer logo' class='size-8' />
      </a>
    </section>
    <section class='w-full grid border-l border-black-700'>
      <section class='w-full flex flex-1'>
        <section class='grid place-content-center flex-[4_0_0%]'>
          <ul class='flex gap-10 font-semibold text-sm text-black-300'>
            <li><a href='/'>Projects</a></li>
            <li><a href='/'>About</a></li>
            <li><a href='/'>Team</a></li>
            <li><a href='/'>Contact</a></li>
          </ul>
        </section>
        <section
          class='w-full grid place-content-center flex-1 border-l border-black-700'
        >
          <div class='w-full grid gap-1 hover:cursor-pointer'>
            <span class='block h-px w-[4.5rem] bg-black-300'></span>
            <span class='block h-px w-[4.5rem] bg-black-300'></span>
            <span class='block h-px w-[4.5rem] bg-black-300'></span>
          </div>
        </section>
      </section>
      <section class='w-full flex flex-1 border-t border-black-700'>
        <section
          class='grid place-content-center flex-1 border-l border-black-700'
        >
          <a href='/' class='flex items-center justify-center gap-2'>
            <span class='w-3'>
              <Pencil />
            </span>
            <span class='font-semibold text-sm text-black-300'> Services </span>
          </a>
        </section>
        <section
          class='grid place-content-center flex-1 border-l border-black-700'
        >
          <a href='/' class='flex items-center justify-center gap-2'>
            <span class='w-3'>
              <Calendar />
            </span>
            <span class='font-semibold text-sm text-black-300'>
              Get in touch
            </span>
          </a>
        </section>
      </section>
    </section>
  </nav>
</header>
