<main class='grid place-content-center w-full'>
  <h1
    class='text-[8.75rem] leading-[9rem] tracking-[-7.5px] text-center font-semibold'
  >
    Krate design and motion studio
  </h1>
  <section class='py-12 flex justify-center'>
    <div class='max-w-[1150px] w-full h-[610px]'>
      <video src='/videos/hero.webm' autoplay loop muted class='mask'> </video>
    </div>
  </section>
</main>
