<main class='grid w-full place-content-center'>
  <h1
    class='text-center text-[8.75rem] font-semibold leading-[9rem] tracking-[-7.5px]'
  >
    Krate design and motion studio
  </h1>
  <section class='flex justify-center py-12'>
    <div class='h-[610px] w-full max-w-[1150px]'>
      <video src='/videos/hero.webm' autoplay loop muted class='mask'> </video>
    </div>
  </section>
</main>
