---
import Altall from '@icons/logos/Altall.astro';
import Kalo from '@icons/logos/Kalo.astro';
import Kinua from '@icons/logos/Kinua.astro';
import Krate from '@icons/logos/Krate.astro';
import Massui from '@icons/logos/Massui.astro';
import Tano from '@icons/logos/Tano.astro';
---

<section class='flex py-16'>
  <articles class='w-full flex-[2_0_0%]'>
    <h2
      class='max-w-[783px] text-[34px] leading-10 tracking-[-1px] font-semibold'
    >
      We are passionate about creating visually stunning and functional
      solutions that communicate effectively. I have a keen eye for detail and a
      deep understanding of design principles, which I use to deliver projects
      that exceed my clients' expectations.
    </h2>
  </articles>

  <articles class='w-full flex-1'>
    <div class='grid grid-cols-2 w-full'>
      <div class='flex-1 flex flex-col items-end gap-5 text-black-300'>
        <Krate attributes='h-10' />
        <Massui attributes='h-10' />
        <Altall attributes='h-10' />
      </div>
      <div class='flex-1 flex flex-col items-end gap-5 text-black-300'>
        <Kalo attributes='h-10' />
        <Kinua attributes='h-10' />
        <Tano attributes='h-10' />
      </div>
    </div>
  </articles>
</section>
