<section class='grid grid-flow-col place-content-between py-32'>
  <articles class='w-full max-w-[783px]'>
    <h2
      class='max-w-[783px] text-[34px] leading-10 tracking-[-1px] font-semibold'
    >
      We are passionate about creating visually stunning and functional
      solutions that communicate effectively. I have a keen eye for detail and a
      deep understanding of design principles, which I use to deliver projects
      that exceed my clients' expectations.
    </h2>
  </articles>
  <articles>\</articles>
</section>
