---
interface Props {
  asset: { url: string; alt: string };
  name: string;
  position: string;
}

const { asset, name, position } = Astro.props;
---

<div class='w-full rounded-3xl border border-black-700'>
  <img
    src={asset.url}
    alt={asset.alt}
    class='h-[282px] w-full max-w-[624px] rounded-t-3xl object-cover grayscale'
  />

  <div class='grid gap-2 px-4 py-6'>
    <p class='text-lg font-semibold'>{name}</p>
    <p class='font-semibold text-black-300'>{position}</p>
  </div>
</div>
