---
import { works } from '@data/index';
import Arrow from '@icons/Arrow.astro';
import WorkCard from './WorkCard.astro';
import Link from '@icons/Link.astro';
---

<section class='grid gap-8 py-16'>
  <div class='flex items-center gap-2 py-6'>
    <Arrow attributes='size-6' />
    <h2 class='text-xl font-semibold'>Recent Work</h2>
  </div>

  <div class='grid grid-cols-2 gap-8'>
    {works.map((work) => <WorkCard asset={work.asset} title={work.title} />)}
  </div>

  <a
    href='/'
    class='flex w-full items-center justify-center rounded-full border border-black-700 px-7 py-4 text-lg font-semibold text-black-300'
  >
    <span>View all work</span>
    <Link attributes='size-8' />
  </a>
</section>
