---
import Arrow from '@icons/Arrow.astro';
import ServiceCard from '@components/ServiceCard.astro';
import { services } from '@data/index';
import SectionLayout from '@layouts/SectionLayout.astro';
---

<SectionLayout>
  <div class='flex items-center gap-2 py-6'>
    <Arrow attributes='size-6' />
    <h2 class='text-xl font-semibold'>Our Services</h2>
  </div>

  <div>
    {
      services.map((service) => (
        <ServiceCard asset={service.asset} title={service.title} />
      ))
    }
  </div>
</SectionLayout>
