---
import Arrow from '@icons/Arrow.astro';
import ServiceCard from '@components/ServiceCard.astro';
import { services } from '@data/index';
---

<section class='grid gap-8 py-16'>
  <div class='flex items-center gap-2'>
    <Arrow attributes='size-6' />
    <h2 class='text-xl font-semibold'>Our Services</h2>
  </div>

  <div>
    {
      services.map((service) => (
        <ServiceCard asset={service.asset} title={service.title} />
      ))
    }
  </div>
</section>
