---
import { members } from '@data/index';
import Arrow from '@icons/Arrow.astro';
import Link from '@icons/Link.astro';
import MemberCard from './MemberCard.astro';
import SectionLayout from '@layouts/SectionLayout.astro';
---

<SectionLayout>
  <div class='flex items-center gap-2 py-6'>
    <Arrow attributes='size-6' />
    <h2 class='text-xl font-semibold'>Our team</h2>
  </div>

  <div class='grid grid-cols-4 gap-8'>
    <p
      class='col-span-2 max-w-[547px] text-[42px] font-semibold leading-[46px] tracking-[-2px]'
    >
      We are passionate about creating visually stunning and functional
      solutions that communicate effectively.
    </p>
    {
      members.map((member) => (
        <MemberCard
          asset={member.asset}
          name={member.name}
          position={member.position}
        />
      ))
    }
  </div>

  <a
    href='/'
    class='flex w-full items-center justify-center rounded-full border border-black-700 px-7 py-4 text-lg font-semibold text-black-300'
  >
    <span>See all members</span>
    <Link attributes='size-8' />
  </a>
</SectionLayout>
