---
interface Props {
  asset: { url: string; alt: string };
  title: string;
}

const { asset, title } = Astro.props;
---

<div class='h-[627px] w-full rounded-3xl border border-black-700'>
  <img
    src={asset.url}
    alt={asset.alt}
    class='h-full max-h-[513px] w-full max-w-[624px] rounded-t-3xl object-cover'
  />
  <p class='p-10 text-2xl font-semibold'>{title}</p>
</div>
